<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>CREEDENCE CLEARWATER REVIVAL</title>
</head>

<body>

    <header>
        <h1>CREEDENCE CLEARWATER REVIVAL</h1>
    </header>


    <main>

        <h5>Creedence Clearwater Revival o Creedence fue una banda estadounidense
            de rock, popular a fines de la década de 1960 y comienzos de los 70.​
            Considerada una de las mejores bandas de la historia, es una de las más
             populares e influyentes.​</h5>



        <img class="img" src="images/creedenceclearwaterrevival1.jpg" alt="banda" width="60%">
        

    </main>

    <footer></footer>

</body>

</html>

