<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>GUNS N ROSES</title>
</head>

<body>

    <header>
        <h1>GUNS N ROSES</h1>
    </header>


    <main>

        <h5>Guns N' Roses es una banda estadounidense de hard rock formada en
            Hollywood en la zona de Sunset Strip alrededor de Santa Mónica, en
            la ciudad de Los Ángeles, California en 1985. El grupo fue fundado
             por el vocalista Axl Rose y el guitarrista Izzy Stradlin.​​</h5>



        <img class="img" src="images/gunsnroses1.jpg" alt="banda" width="60%">
        

    </main>

<footer></footer>

</body>

</html>