<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <title>Home</title>
</head>

<body>


    <header>
        <h1 class="titulo">Las Diez Bandas mas Influyentes en la  Historia del Rock</h1> 
    </header>



    <main>



        <a href="/queen">
            <article>
                <h3>Queen</h3><img class="imgindex" src="images/queen1.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/therollingstones">
            <article>
                <h3>The Rolling Stones</h3><img class="imgindex" src="images/therollingstones.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/pinkfloyd">
            <article>
                <h3>Pink Floyd</h3><img class="imgindex" src="images/pinkfloyd.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/ledzeppelin">
            <article>
                <h3>Led Zeppelin</h3><img class="imgindex" src="images/ledzeppelin.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/thebeatles">
            <article>
                <h3>The Beatles</h3><img class="imgindex" src="images/thebeatles.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/bonjovi">
            <article>
                <h3>Bon Jovi</h3><img class="imgindex" src="images/bonjovi.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/thedoors">
            <article>
                <h3>The Doors</h3><img class="imgindex" src="images/thedoors.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/elvispresley">
            <article>
                <h3>Elvis Presley</h3><img class="imgindex" src="images/elvispresley.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/gunsnroses">
            <article>
                <h3>Guns n Roses</h3><img class="imgindex" src="images/gunsnroses.jpg" alt="" width="50%">
            </article>
        </a>
        <a href="/creedenceclearwaterrevival">
            <article>
                <h3>Creedence Clearwater Revival</h3><img class="imgindex" src="images/creedenceclearwaterrevival.jpg" alt="" width="50%">
            </article>
        </a>

        
</main>


<footer></footer>

</body>

</html>


    