<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>LED ZEPPELIN</title>
</head>

<body>

    <header>
        <h1>LED ZEPPELIN</h1>
    </header>


    <main>

        <h5>Led Zeppelin fue un grupo británico de hard rock fundado en Londres
             en 1968 por el guitarrista Jimmy Page, quien había pertenecido a The
              Yardbirds. La banda estuvo integrada por John Paul Jones como bajista
               y teclista, el vocalista Robert Plant y John Bonham a la batería.​</h5>



        <img class="img" src="images/ledzeppelin1.jpg" alt="banda" width="60%">
        

    </main>

    <footer></footer>

</body>

</html>