<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>PINK FLOYD</title>
</head>

<body>

    <header>
        <h1>PINK FLOYD</h1>
    </header>


    <main>

        <h5>Pink Floyd fue una banda de rock británica, fundada en Londres en 1965.
            Es considerada un ícono cultural del siglo XX y una de las bandas más influyentes
            y aclamadas en la historia de la música, obtuvieron gran popularidad gracias a su
            música psicodélica que evolucionó hacia el rock progresivo y rock sinfónico con el
             paso del tiempo.​</h5>



        <img class="img" src="images/pinkfloyd1.jpg" alt="banda" width="60%">
        

    </main>

    <footer></footer>

</body>

</html>