<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>QUEEN</title>
</head>

<body>

    <header>
        <h1>QUEEN</h1>
    </header>


    <main>

        <h5>Queen es una banda británica de rock formada en 1970 en Londres
             por el cantante y pianista Freddie Mercury, el guitarrista Brian May,
              el baterista Roger Taylor y el bajista John Deacon.​</h5>



        <img class="img" src="images/queen.jpg" alt="banda" width="60%">
        

    </main>

    <footer></footer>

</body>

</html>