<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>THE BEATLES</title>
</head>

<body>

    <header>
        <h1>THE BEATLES</h1>
    </header>


    <main>

        <h5>The Beatles fue una banda de rock​ británica activa durante
            la década de 1960, y reconocida como la más exitosa comercialmente
            y la más alabada por la crítica en la historia de la música popular
             y de la música rock.​​​​​​</h5>



        <img class="img" src="images/thebeatles1.jpg" alt="banda" width="60%">
        

    </main>

    <footer></footer>

</body>

</html>