<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>THE DOORS</title>
</head>

<body>

    <header>
        <h1>THE DOORS</h1>
    </header>


    <main>

        <h5>The Doors fue una banda de rock estadounidense, formada en
            Los Ángeles, en julio del año 1965 y disuelta en el año 1973.
            Aunque la carrera de The Doors terminó en 1973, su popularidad
            ha persistido.​ Según la RIAA, han vendido 33 millones de unidades
             certificadas en los Estados Unidos.​</h5>



        <img class="img" src="images/thedoors1.jpg" alt="banda" width="60%">
        

    </main>

    <footer></footer>

</body>

</html>