<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">

    <title>THE ROLLING STONES</title>
</head>

<body>

    <header>
        <h1>THE ROLLING STONES</h1>
    </header>


    <main>

        <h5>The Rolling Stones es una banda británica de rock originaria de Londres.
             La banda se formó en abril de 1962​ por Brian Jones, Mick Jagger, Keith Richards,
              Bill Wyman, Charlie Watts e Ian Stewart.​</h5>



        <img class="img" src="images/therollingstones1.jpg" alt="banda" width="60%">
        

    </main>

    <footer></footer>

</body>

</html>